@using System.Text.Encodings.Web;
@inject JavaScriptEncoder encoder;
@{
	//var untrestedInput = "<\"script\">";
}
@model IEnumerable<FamousPaintingViewModel>

@{
	ViewBag.Title = "Famous Paintings";
}
<html>
<body>
	<h2 class="text-center">@ViewBag.Title</h2>
	<hr />

	<form method="post" action="Search">
		<div class="row">
			<div class="form-group col-md-3 d-flex justify-content-between">
				<input type="text" pattern="[A-Za-z ]+" name="mesg" placeholder="Search..."><br>
				<input type="submit" class="btn btn-primary" value="Search">
			</div>
		</div>
	</form>

	<form method="post" action="Sort">
		<div class="row">
			<div class="form-group col-md-3 d-flex justify-content-between">

				<label></label>
				<select name="op" class="form-control">
					<option value="0">Newest</option>
					<option value="1">Oldest</option>

				</select>
				<input type="submit" class="btn btn-primary" value="Sort">
			</div>
		</div>
	</form>



	<div class="d-grid gap-2 mb-2">
		<a asp-controller="FamousPaint" asp-action="AddPainting" class="btn btn-primary">Add Painting</a>
	</div>


	@if (Model != null)
	{
		<div class="row">
			@foreach (var post in Model)
			{
				<div class="col-sm-6">
					<div class="card ">
						<div class="card-body">
							<h4 class="card-title text-center">@post.Name</h4>
							<img src="@post.ImageUrl" style="width: 150px" />
							<p class="card-text">@post.Name</p>
							<p class="card-text">@post.Description</p>
							<div class="d-grid gap-2">


								<form class="mt-2" asp-controller="FamousPaint" asp-action="DeletePainting" asp-route-id="@post.Id">
									<div class="d-grid gap-2">
										<input type="submit" value="Delete" class="btn btn-danger mb-2" onclick="return confirm('Are you sure you want to delete post: @post.Name?')" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	}
	else
	{
		<p class="text-center">No paintings yet!</p>
	}


</body>
</html>